@font-face {
    font-family: "Outfit";
    src: url("fonts/Outfit-Regular.woff2") format("woff2"),
        url("fonts/Outfit-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #BAE6E6FF;
}

#toggle {
    display: none;
}

.toggle-btn {
    display: none;
}

nav {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    background-color: #025A6AFF;
    width: 300px;
    height: 100vh;
    position: sticky;
    padding: 20px;
    transition: transform 0.3s ease;
}

nav p {
    text-decoration: underline;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin-top: 30px;
    padding-left: 20px;
}

nav ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

nav ul li:hover {
    background-color: rgba(57, 57, 57, 0.314)
}

nav img {
    margin-top: auto;
    margin-bottom: 10px;
    align-self: center;
    width: 95%;
}

main {
    flex-grow: 2;
    display: flex;
    background-color: #BAE6E6FF;
    justify-content: center;
}

main h1 {
    margin-top: 30px;
    font-size: 30px;
}

@media (max-width: 768px) {
    nav {
        transform: translateX(-300px);
        position: fixed;
    }

    nav p {
        margin-top: 30px;
    }

    .toggle-btn {
        display: block;
        position: fixed;
        top: 5px;
        left: 10px;
        z-index: 1;
        background-color: rgb(1, 58, 68);
        color: white;
        cursor: pointer;
        font-size: 20px;
        width: 40px;
        height: 40px;
        padding-bottom: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    #toggle:checked~nav {
        transform: translateX(0);
    }
}