@font-face {
    font-family: "Outfit";
    src: url("fonts/Outfit-Regular.woff2") format("woff2"),
        url("fonts/Outfit-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}

nav {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    background-color: #025A6AFF;
    width: 300px;
    height: 100vh;
    position: sticky;
    padding: 20px;
}

nav p {
    text-decoration: underline;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin-top: 30px;
    padding-left: 20px;
}

nav ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul li:hover {
    background-color: rgba(57, 57, 57, 0.314)
}

nav img {
    margin-top: auto;
    margin-bottom: 10px;
    align-self: center;
    width: 95%;
}

main {
    flex-grow: 2;
    display: flex;
    background-color: #BAE6E6FF;
    justify-content: center;
}

main h1 {
    margin-top: 30px;
    font-size: 30px;
}